<br>
Photo:
<input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="10MB" required ngf-model-invalid="errorFile">
<button ng-disabled="isDisabled" ng-click="uploadPic(picFile)">Submit</button>
<span ng-show="picFile.result">Upload Successful</span>
<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
<br>
<br>
<br>

<!--
<div class="row">
    <div ng-repeat="picture in pictures" class="col-lg-3 col-md-4 col-xs-6 thumb">
        <span class="thumbnail" href="#">
            <img class="img-responsive" ng-src="{{picture}}" alt="">
        </span>
    </div>
</div>-->


<div class="my_container">
  <ul>
    <li class="block" ng-repeat="picture in pictures">
      <img ng-src="{{picture}}" />
    </li>
  </ul>  
</div>